<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the Homepage of the website</h1>
    <a
            class="m-auto mb-4 flex h-10 w-50 cursor-pointer items-center justify-center rounded-3xl border border-[#0A66C2] text-center font-medium text-[#0A66C2] space-x-2"
            href="/logout"
            role="button"
          >
          <!-- Sign out -->
            <span>Sign out</span>
          </a>
</body>
</html>